<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hollywood Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="name" >

 <p class="name"><%= quote %></p>
 <h1 class="name">YOU GUESSED IT RIGHT!</h1>
 <p class="name"><%= movieName %></p>

  </div>


  <form class="" action="/" method="POST">
    <button id="start" class="btn btn-warning btn-lg" type="submit" name="button">REPLAY</button>
  </form>




  </body>
</html>
